.itemContent{
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: auto;
  background-color: #BBBBD7;
  margin:30px;
  border-radius: 10px;
}

.description{
  padding-right: 50px;
}

h3{
  font-size:15px;
  font-weight: 500;
}

a{
  color:black;
  text-decoration: none;
}